/* https://docs.stacker.app/customizing-your-app/features/custom-css */

/* misc */

.stk-text {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

.stk-button {
  font-family: "Gilroy", "Helvetica", "sans-serif";
  font-weight: 800;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  /*background-color: transparent;*/
  /*color: inherit;*/
  border: none;
}

.stk-button:hover {
  transition: all 0.3s;
  color: #89e5d3;
  border-color: #89e5d3;
}

/* Banner */
.stk-page-header {
  background-color: black;
  background-image: none;
  height: auto;
}

/* For headers*/
.stk-text-listHeaderTitle,
.stk-text-listHeaderDesc {
  font-family: "Gilroy", "Helvetica", "sans-serif";
}

.stk-text-listHeaderTitle {
  font-size: 1.5rem;
}

.stk-text-listHeaderDesc {
  font-size: 1rem;
}

.stk-header {
  background-color: black;
}

/* Pages */

.stk-content {
  background-color: #fafafa;
}

/* Navbar */

/* @toimprove remove selection with hash*/
.css-sval3o.e1srdwdd0 {
  background: black;
}

.stk-text.stk-text-internalNavLabel {
  color: #fafefd;
}
